*.cproject
*.project
*~
*.swp
build
.vscode
*.csv
cmake-build-debug/
.idea/
compile_commands.json
.ccls-cache/
.cache/
other_configs/
release/
*.pcd
config/config_*
config/*.txt
config/archive
*.bkp
*.dtmp
*.QIK
*.tar
*.tar.xz
